:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #999999;
  --primary-title-color: #ffffff;
  --secondary-title-color: #323232;
  --accent-color: #4985ff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

body {
  font-family: Montserrat, sans-serif;
}

.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 1px solid tomato; */
}

.nav-link {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  color: var(--primary-text-color);
}

.page-header {
  background-color: var(--secondary-text-color);
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.section-hero {
  padding-top: 320px;
  padding-bottom: 335px;
  background-color: var(--secondary-text-color);
}
.hero-text {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--primary-text-color);
}

.hero-title {
  max-width: 830px;
  margin: 0 auto 50px;

  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--primary-text-color);
}

.button {
  width: 200px;
  height: 45px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--primary-text-color);

  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
}

.hero-button {
  display: block;
  margin: 0 auto;
}

.mobile {
  padding-top: 110px;
  padding-bottom: 105px;
}

.mobile-title {
  width: 740px;
  margin: 0 auto;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  text-align: center;
  color: var(--secondary-title-color);
}
.mobile-text {
  width: 730px;
  margin: 0 auto;
  margin-bottom: 70px;

  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: var(--secondary-text-color);
}
.mobile-item-title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
}
.mobile-item-text {
  font-size: 14px;
  line-height: 1.57;
  color: var(--secondary-text-color);
}
.mobile-button {
  display: block;
  margin: 0 auto;
}
.mobile-list {
  display: flex;
  margin-bottom: 55px;
  margin-left: -27px;
}
.mobile-item {
  flex-basis: calc(100% / 3 - 27px);
  margin-left: 27px;
}
/* standarts */
.standarts {
  padding: 100px 0px 70px 0px;
}
.standart-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 90px;
  margin-bottom: 70px;
}
.standart-topleft {
  width: 490px;
}
.standart-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  color: var(--secondary-title-color);
  margin-bottom: 40px;
}
.standart-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}
.standart-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-color);
}
.standart-item-count {
  font-size: 36px;
  line-height: 1.47;
  color: #000000;
}
.standart-item-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--secondary-text-color);
}
.standart-list {
  display: flex;
  justify-content: space-evenly;
}

.works {
  padding-top: 100px;
  padding-bottom: 85px;
  background-color: var(--secondary-title-color);
}

.works-title {
  width: 540px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  color: var(--primary-text-color);
}

.works-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.works-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: 85px;
}

.works-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.works-item-title {
  margin-bottom: 30px;
  margin-top: 30px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
}

.works-item-title span {
  color: var(--accent-color);
}

.works-item-text {
  font-size: 16px;
  line-height: 25px;
  color: var(--secondary-text-color);

  margin-bottom: 30px;
}

.works-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-color);
}

.border {
  border-bottom: 1px solid #e0e0e0;
}
